<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">박하선</h2>

      <h6>
          hello world!
      </h6>

    </div>
  </body>
</html>