<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">List</h2>

      <table class="board-table table table-sm border-bottom" style="text-align: center;">

        <thead class="thead-light">
          <tr>
            <th scope="col" colspan=3 >Lists</th>
          </tr>
        </thead>

        <tbody>
          <% if(lists == null || lists.length == 0){ %>
            <tr>
              <td colspan=3> There is no data to show :( </td>
            </tr>
          <% } %>
          <tr>
              <td>
                <a href="/lists/image1">
                  <img src="./박하선 표정.png" width="300" height="200"></img>
                </a>
              </td>
              <td>
                <img src="./goja.png" width="300" height="200"></img>
              </td>
              <td>
                <img src="./고경표짤.jfif" width="300" height="200"></img>
              </td>
            </tr>
        </tbody>

      </table>

    </div>
  </body>
</html>