body {
  font-family: 'Open Sans', sans-serif;
}
.breadcrumb-item {
  font-size: 0.8em !important;
}
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  table-layout: fixed;
}
.board-table .views{
  width: 60px;
  text-align: center;
}
.board-table .author,
.board-table .date {
  width: 100px;
  text-align: center; 
}
.board-table .title-container:hover .title-comments,

.post-body{
  white-space: pre-line;
}
.post-info{
  font-size: 0.8em;
}

.user-form {
  width: 400px;
}

.highlighted {
  background-color: yellow;
}

.comment-edit,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit {
  display:inherit;
}

#userresults{
  display: none; 
  z-index: -1;
}

.file-upload-input{
  display: none; 
  z-index: -1;
}

#pose-image{
  display: none; 
  z-index: -1;
}

#face-image{
  display: none; 
  z-index: -1;
}

@media screen and (min-width: 768px){
  /* .container{
    padding: 0 100px;
  } */
  
  .list-container{
    text-align: center;
  }

  .list-container img{
    margin: 5px 4px;
  }

}