body {
  font-family: 'Open Sans', sans-serif;
}
.breadcrumb-item {
  font-size: 0.8em !important;
}
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  table-layout: fixed;
}
.board-table .views{
  width: 60px;
  text-align: center;
}
.board-table .author,
.board-table .date {
  width: 100px;
  text-align: center; 
}
.board-table .title-container:hover .title-comments,

.post-body{
  white-space: pre-line;
}
.post-info{
  font-size: 0.8em;
}

.user-form {
  width: 400px;
}

.highlighted {
  background-color: yellow;
}

.comment-edit,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit {
  display:inherit;
}

#userresults{
  display: none; 
  z-index: -1;
}

.file-upload-input{
  display: none; 
  z-index: -1;
}

#pose-image{
  display: none; 
  z-index: -1;
}

#face-image{
  max-width: 300px; 
  max-height: 200px;
}

.container > img{
  display: block; 
  margin-bottom: 30px;
}

.btn-box{
  display: flex; 
  margin-bottom: 20px;
}

.rank-btn{
  margin-right: 8px;
}


#result-box{
  display: block; 
  margin-bottom: 7px; 
  color: #0066FF; 
}

.list-container{
  text-align: center;
}

.list-container img{
  display: inline-block; 
  margin-bottom: 4px;
}
 
table, th, td {
  border: 1px solid #0066FF;
}

.table-number{
  text-align: center;
}

.mt-3{
  position: relative; 
}

.mt-3 > input{
  position: absolute;
  right: 0;
}

.footer-notice{
  width: 100%; 
  padding: 5px; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  font-size: 13px;
  text-align: center;
  color: cornsilk; 
  background-color: #F8F9FA; 
}

@media screen and (max-width: 768px){
  /* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .input-group {
    width:auto;
    display:grid;
    grid-template-columns: 35% 60% 5%;
  }

  #show-page{
    width: 120px;
  }

  .user-image-container img{
    width: 100%;
  }

  .comment-show{
    width: auto;
  }
  
  .commentform{
    width: 100%;
    padding:5px;
  }

  .user-form{
    width:auto;
  }

  table{
    margin-bottom: 10px;
  }

  #face-image{
    margin-bottom: 10px;
  }

}

@media screen and (min-width: 768px){
  .login-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

}


@media screen and (max-width: 991px){
  .back-btn{
    margin-bottom: 10px;
  }

  table{
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 991px){
  .container{
    position: relative; 
  }

  .container > img{
    margin-right: 30px;
  }

  .back-btn{
    position: absolute; 
    top: 260px;
    left: 16px;
  }

  .container > img, 
  .file-upload{
    float: left; 
  }

  .file-upload{
    position: relative; 
  }

  .file-upload-btn{
    margin-right: 20px;
  }

  .file-upload-content{
    position: absolute;
    top: 80px; 
    right: -280px;
  }
}